<% layout('layouts/boilerplate') %>
<h1 id="top">Campgrounds</h1>
<a href="http://localhost:3000/campgrounds/new">Add New Campground</a>
<br /><br />
<ul>
  <% for( let i = 0; i < campgrounds.length; i++ ) { %>
  <li>
    <a
      class="titles"
      href="http://localhost:3000/campgrounds/<%= campgrounds[i].id %>"
      ><%= campgrounds[i].title %></a
    >
  </li>
  <% } %>
</ul>

<a href="#top">Top of Page</a>
